<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.shpak.presentation">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:theme="@style/Theme.BarCodeScanner">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ScanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>